@font-face {
  font-family: gothic;
  src: url("font/Blacklettersh.ttf");
}

body {
  color: rgba(239, 11, 11, 0.974);
  background-color: rgb(0, 0, 0);
  text-align: center;
}

h1 {
  align-items: center;
  font-family: gothic;
  font-size: 4rem;
}

h2 {
  font-family: gothic;
  font-size: 2rem;
}

img {
  width: 30vw;
}

.video {
  width: 90vw;
  height: "315";
}

button {
  display: block;
  text-align: center;
}
