@font-face {
  font-family: gothic;
  src: url("font/Blacklettersh.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
  color: rgba(239, 11, 11, 0.974);
  font-family: gothic;
  text-align: center;
}

.titulo {
  font-size: 3rem;
  padding: 1rem;
  padding-bottom: 0.3rem;
}

.copete {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.contenido {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 1rem;
}

img,
.video,
.playlist {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.video {
  height: 220px;
}

.creditos {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenido {
    width: 50%;
  }
  .video {
    height: 300px;
  }
}
